<h1>Create a comment</h1>

<form action="/comment-create" method="post">

  <div class="mb-3">
    <label for="review" class="form-label">Write a review</label>
    <input required type="text" class="form-control" id="review" name="review" />
  </div>

</form>