<h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<div> 
    <div>
        <button type="button">
            <a href="/signup">Sign up</a>
        </button>
    </div>              
    <div>
        <button type="button">
            <a href="/login">Login</a>
        </button>
    </div>
</div>